main.mt{
  padding-top: 82px;
  padding-bottom: 20px;
}
.login-message{
  text-align: center;
  max-width: 500px;
  margin: auto;
  color: #333;
  font-size: 25px;
}

#comment-form{
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
}

#comment-form p{
  margin-bottom: 10px;
}
textarea{
  height: 75px;
}
textarea.error{
  border: 1px solid #e91e63;
  outline: 1px solid #e91e63;
}
textarea, .comment.input {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #858585;
  border-radius: 6px;
}

#comment-form textarea:focus,
.comment.input:focus {
  border: 1px solid #7d7df7;
  outline: 1px solid #7d7df7;
}

button{
  height: 32px;
  padding: 0px 24px;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background .3s ease-in-out;
  font-weight: 400;
}


#comment-form button,
.comment__edit{
  background: #2196f3;
}

#comment-form button:hover,
.comment__edit:hover{
  background-color: #1c85d8;
}

#comments-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  list-style: none;
}

.comment__ctn{
  width: 100%;
  padding: 20px;
  padding-bottom: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.comment{
  padding: 10px;
  border: 1px solid transparent;
  word-break: break-all;
}
.comment__username{
  margin-bottom: 10px;
  color: #1d1d96;
  font-weight: 500;
}

.comment__controls{
  text-align: end;
}

.comment__delete {
  background-color: #ff5f5f;
}
.comment__delete:hover {
  background-color: #ff3c3c;
}