.bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.5);
}

body > div{
  position:relative;
  text-align: center
}

body > div > p{
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 25px;
}
body > div > a{
  padding: 6px 24px;
  background: #2196f3;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  transition: background .3s ease-out;
}

body > div > a:hover{
  background-color: #3f51b5;
}